@(user: User,
	accountForm: Form[controllers.account.settings.Account.AccountForm],
	liensForms:List[Form[Lien]],
	newLien:Form[Lien])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@index(user, "account") {

	<div class="span12">
		<div class="well">
			@form(controllers.account.settings.routes.Account.save()) {
			
				<fieldset>
					<legend>@Messages("account.description")</legend>
				    @textarea(
				        accountForm("description"),
				        'placeholder -> Messages("account.description"),
				        'class -> "input-xxlarge",
				        'rows -> 10,
				        '_label -> null
				    )
				</fieldset>
				
				<h2>@Messages("account.lien.list")</h2>
				
				@for(lienForm <- liensForms) {
					<fieldset>
						@inputText(
							lienForm("label"),
					        'placeholder -> Messages("account.lien.label"),
					        'class -> "input-small",
				        	'_label -> Messages("account.lien.label")
						)
						<a href="@controllers.account.settings.routes.Account.deleteLink(lienForm.get().id)"
							onclick="return confirm('@Messages("account.lien.delete.confirm", lienForm.get().label)')">
							@Messages("account.lien.delete")
						</a>
						@inputText(
							lienForm("url"),
					        'placeholder -> Messages("account.lien.url"),
					        'class -> "input-large",
				        	'_label -> Messages("account.lien.url")
						)
					</fieldset>
				}
				
				<fieldset>
					<legend>Nouveau lien</legend>
				
					@inputText(
						newLien("label"),
				        'placeholder -> Messages("account.lien.label"),
				        'class -> "input-small",
				       	'_label -> null
					)
					@inputText(
						newLien("url"),
				        'placeholder -> Messages("account.lien.url"),
				        'class -> "input-large",
				       	'_label -> null
					)
				</fieldset>
		
				@if(flash.get("error") != null) {
					<span class="label label-important">@flash.get("error")</span>
				}
		
				<div class="form-actions">
					<input type="submit" class="btn btn-primary" value="@Messages("validate")">
				</div>
			}
		</div>
	</div>

}
