@(user: User, active: String)(content: Html)

@main(user) {


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <ul class="breadcrumb">
                <li>
                	@if(!"account".equals(active)) {
                    <a href="@controllers.account.settings.routes.Account.index">
                    }
                    	@Messages("account")
                	@if(!"account".equals(active)) {
                    </a>
                    }
                </li>
                <li>
                	@if(!"password".equals(active)) {
                    <a href="@controllers.account.settings.routes.Password.index">
                    }
                    	@Messages("password")
                	@if(!"password".equals(active)) {
                    </a>
                    }
                </li>
                <li>
                	@if(!"email".equals(active)) {
                    <a href="@controllers.account.settings.routes.Email.index">
                    }
                    	@Messages("email")
                	@if(!"email".equals(active)) {
                    </a>
                    }
                </li>
            </ul>
        </div>
        <div class="span10">
            @content
        </div>
    </div>
</div>


}