@(user: User, active: String)(content: Html) @main(user) {


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2 breadcrumb">
			<img src="@user.getAvatar()?s=100" /><br />
			<br/>
			@if(!"account".equals(active)) {
				<a href="@controllers.account.settings.routes.Account.index">@Messages("account")</a>
			} else {
				@Messages("account")
			}
			<br />
			
			@if(!"notifs".equals(active)) {
				<a href="@controllers.account.settings.routes.Notifs.index">@Messages("notifs")</a>
			} else {
				@Messages("notifs")
			}
			<br />
			
			@if(!"password".equals(active)) {
				<a href="@controllers.account.settings.routes.Password.index">@Messages("password")</a>
			} else {
				@Messages("password")
			}
			<br />
			
			@if(!"email".equals(active)) { 
				<a href="@controllers.account.settings.routes.Email.index">@Messages("email")</a>
			} else {
				@Messages("email")
			}
		</div>
		<div class="span10">@content</div>
	</div>
</div>


}
