<div class="row">


    <div class="col-md-12">
        <p>
            <a href="#/admin/event/new"><button class="btn btn-primary">Créer un événement</button></a>
        </p>
        <p>
            <span class="badge badge-important" ng-repeat="error in errors['']">{{error}}</span>
        </p>
        <table class="table table-bordered table-striped">
            <tbody><tr>
                <th class="col-md-4"><a ng-click="predicate = 'event.name'; reverse=!reverse">Nom</a></th>
                <th class="col-md-3">Nom cours</th>
                <th class="col-md-6">Description</th>
                <th class="col-md-1">Actions</th>
            </tr>

            <tr ng-repeat="event in events | orderBy:predicate:reverse ">
                <td><div ng-show="event.name != null"><a ng-href="/#/event/{{event.id}}" >{{event.name}}</a></div></td>
                <td><p>{{event.shortName}}</p></td>
                <td><p>{{event.description}}</p>
                    <p ng-bind-html-unsafe="getSafeDescription()"></p>
                </td>
                </td>
                <td><a ng-click="deleteEvent(event)" ><i class="fa fa-times-circle-o"></i></a>
                     <a ng-href="/#/admin/event/edit/{{event.id}}" ><i class="fa fa-pencil"></i></a></td>
            </tr>

            </tbody>
        </table>
    </div>

</div>