@(implicit request: play.api.mvc.RequestHeader)
<html>
<body>
<p>Bonjour,</p>

<p>Nous avons reçu une demande de réinitialisation de mot de passe sur notre application de CFP. Cette demande n'a pu aboutir car
    nous n'avons pas de compte associé à votre email. Il se peut que vous ayez utiliser un compte externe (Google, Twitter ou GitHub).
</p>

<p> Si vous n'avez jamais créé de compte sur notre application, ignorer ce mail. Sinon, contactez nous pour qu'on puisse vous aidez.
</p>
<p>
    <a href="mailto:team@@breizhcamp.org">L'équipe du BreizhC@@mp</a>
</p>
</body>
</html>