*.class

# Package Files #
*.jar
*.war
*.ear
/dist

# IDE Files #
.settings/
.classpath
/.project
*.iml
*.ipr
*.iws
.idea/
# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
eclipse
lib
!public/javascripts/lib
log
logs
modules
precompiled
project/project
project/target
target
tmp
_site
test-result
server.pid
modules
*.db
/nbproject/private/
/build/
/nbproject
build.xml
*.*~

#local startup script
start

#local conf file
conf/local.conf