<div class="row">


<div class="container-fluid">
    <div class="row-fluid">
        <profil ng-model="user" settings="true" />
        <div class="col-md-10">
            <div class="well">
                <a ng-click="appercu()">aperçu</a>

                <form ng-submit="saveSettings()">
                    <fieldset>
                        <legend>Avatar</legend>
                        <div class="form-group {{{true:'error', false:''}[errors.avatar != undefined]}}">
                            <div class="controls">
                                <input type="text" name="avatar" placeholder="Avatar" ng-model="user.avatar"
                                       class="input-xxlarge"/>

                                <p class="help-inline">Longueur maximum: {{user.avatar.length}}/255, Obligatoire</p>

                                <p class="help-inline" ng-repeat="error in errors.avatar">{{error}}</p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Description/Bio</legend>
                        <div class="form-group {{{true:'error', false:''}[errors.description != undefined]}}">
                            <div class="controls">
                                <div id="wmd-button-bar"></div>
                                <textarea id="wmd-input" name="description" placeholder="Description/Bio"
                                          class="wmd-input" ng-model="user.description" rows="10"></textarea>

                                <p class="help-inline">Longueur maximum: {{user.description.length}}/2000,
                                    Obligatoire</p>

                                <p class="help-inline" ng-repeat="error in errors.description">{{error}}</p>

                                <div id="wmd-preview" class="wmd-preview" pagedown-init="user.description"></div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-group" ng-repeat="dynamicField in user.dynamicFields">
                            <label for="dynamicField{{dynamicField.idField}}">{{dynamicField.name}}</label>

                            <div class="controls">
                                <input type="text" id="dynamicField{{dynamicField.idField}}" class="input-small"
                                       ng-model="dynamicField.value">
                            </div>
                        </div>
                    </fieldset>


                    <span class="badge badge-important" ng-repeat="error in errors['']">{{error}}</span>

                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Valider">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>