<div class="row">


<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-2 breadcrumb">
            <h2><li class="fa fa-user"></li> Profil</h2>

            <h4> <a href="/#/profil/{{user.id}}">{{user.fullname}}</a></h4>
            <p>{{user.email}}</p>

            <p>
                <img ng-src="{{user.avatar}}?s=100">
            </p>
            <hr/>
            Profil
            <br/>
            <a href="/#/settings/links">Liens</a>
            <br/>
            <a href="/#/settings/notifs">Notifications</a>
            <br/>
            <a href="/#/settings/mac">Adresse mac</a>
            <hr/>
            <p>
                <i ng-show="user.avatar != null" class="fa fa-check-square" style="color:green"></i>
                <i ng-show="user.avatar == null" class="fa fa-square-o" style="color:red"></i> Photo
            </p>
            <p>
                <i ng-show="user.description != null" class="fa fa-check-square" style="color:green"></i>
                <i ng-show="user.description == null" class="fa fa-square-o" style="color:red"></i> Biographie
            </p>
            <p>
                <i ng-show="user.links.length > 0" class="fa fa-check-square" style="color:green"></i>
                <i ng-show="user.links.length == 0" class="fa fa-square-o" style="color:red"></i> Liens
            </p>
            <p>
                <i ng-show="user.adresseMac != null" class="fa fa-check-square" style="color:green"></i>
                <i ng-show="user.adresseMac == null" class="fa fa-square-o" style="color:red"></i> Accès réseau
            </p>
        </div>
        <div class="col-md-10">
            <div class="well">
                <a ng-click="appercu()">aperçu</a>

                <form ng-submit="saveSettings()">
                    <fieldset>
                        <legend>Avatar</legend>
                        <div class="form-group {{{true:'error', false:''}[errors.avatar != undefined]}}">
                            <div class="controls">
                                <input type="text" name="avatar" placeholder="Avatar" ng-model="user.avatar"
                                       class="input-xxlarge"/>

                                <p class="help-inline">Longueur maximum: {{user.avatar.length}}/255, Obligatoire</p>

                                <p class="help-inline" ng-repeat="error in errors.avatar">{{error}}</p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Description/Bio</legend>
                        <div class="form-group {{{true:'error', false:''}[errors.description != undefined]}}">
                            <div class="controls">
                                <div id="wmd-button-bar"></div>
                                <textarea id="wmd-input" name="description" placeholder="Description/Bio"
                                          class="wmd-input" ng-model="user.description" rows="10"></textarea>

                                <p class="help-inline">Longueur maximum: {{user.description.length}}/2000,
                                    Obligatoire</p>

                                <p class="help-inline" ng-repeat="error in errors.description">{{error}}</p>

                                <div id="wmd-preview" class="wmd-preview" pagedown-init="user.description"></div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-group" ng-repeat="dynamicField in user.dynamicFields">
                            <label for="dynamicField{{dynamicField.idField}}">{{dynamicField.name}}</label>

                            <div class="controls">
                                <input type="text" id="dynamicField{{dynamicField.idField}}" class="input-small"
                                       ng-model="dynamicField.value">
                            </div>
                        </div>
                    </fieldset>


                    <span class="badge badge-important" ng-repeat="error in errors['']">{{error}}</span>

                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Valider">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>