<div class="row">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2 breadcrumb">
                <h2><li class="fa fa-user"></li> Profil</h2>

                <h4> <a href="/#/profil/{{user.id}}">{{user.fullname}}</a></h4>
                <p>{{user.email}}</p>

                <p>
                    <img ng-src="{{user.avatar}}?s=100">
                </p>
                <hr/>
                <a href="/#/settings/account">Profil</a>
                <br/>
                <a href="/#/settings/links">Liens</a>
                <br/>
                <a href="/#/settings/notifs">Notifications</a>
                <br/>
                Adresse mail
                <br/>
                <a href="/#/settings/mac">Adresse mac</a>
            </div>
            <div class="col-md-10">
                <p class="">
                    <span id="messageSuccess" class="badge badge-success" ng-show="showSuccess">{{successMessage}}</span>
                    <span id="messageError" class="badge badge-important" ng-show="showError">{{errorMessage}}</span>
                </p>
            </div>
        </div>
    </div>
</div>