<div class="row">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 breadcrumb">
                <img ng-src="{{user.avatar}}?s=100"><br/>
                <br/>
                <a href="/#/settings/account">Profil</a>
                <br/>
                <a href="/#/settings/notifs">Notifications</a>
                <br/>
                <a href="/#/settings/password">Mot de passe</a>
                <br/>
                Adresse mail
            </div>
            <div class="span10">
                Entrez votre nouvelle adresse mail et Valider pour recevoir les instructions par mail.
                <p class="">
                    <span id="messageSuccess" class="badge badge-success hide"></span>
                    <span id="messageError" class="badge badge-important hide"></span>
                </p>
                <form ng-submit="changeEmail()">
                    <fieldset>
                        <input type="text" id="email" name="email" value="ybonnel@sopragroup.com" placeholder="Adresse mail" ng-model="user.email"/>
                    </fieldset>
                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Valider">
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>