<div class="row">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2 breadcrumb">
                <img ng-src="{{user.avatar}}?s=100"><br/>
                <br/>
                <a href="/#/settings/account">Profil</a>
                <br/>
                <a href="/#/settings/notifs">Notifications</a>
                <br/>
                Adresse mail
                <br/>
                <a href="/#/settings/mac">Adresse mac</a>
            </div>
            <div class="col-md-10">
                <div class="well">

                    <form ng-submit="changeEmail()">
                        <fieldset>
                            <div class="form-group {{{true:'error', false:''}[errors.email != undefined]}}">
                                <label class="control-label" for="email">Entrez votre nouvelle adresse mail et Valider pour recevoir les instructions par mail.</label>
                                <div class="controls">
                                    <input type="text" id="email" name="email" placeholder="Adresse mail" ng-model="user.email" required />
                                    <p class="help-inline" ng-repeat="error in errors.email">{{error}}</p>
                                </div>
                            </div>
                        </fieldset>
                        <span id="messageSuccess" class="badge badge-success hide"></span>
                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Valider">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>