<div class="row">


    <div class="container-fluid">
        <div class="row-fluid">
            <profil ng-model="user" settings="true" />
            <div class="col-md-10">
                <div class="well">
                    <form ng-submit="changeMac()">
                        <fieldset>
                            <legend>Adresse Mac pour l'accès au WIFI</legend>
                            <div class="form-group ">
                                <div class="controls">
                                    <label class="adresseMac">
                                        <input type="text" id="adresseMac" name="adresseMac" ng-model="user.adresseMac">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </fieldset>


                        <span id="messageSuccess" class="badge badge-success hide"></span>
                        <span id="messageError" class="badge badge-important hide"></span>

                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Valider">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>