<div class="row">


    <div class="container-fluid">
        <div class="row-fluid">
            <profil ng-model="user" settings="true" />
            <div class="col-md-10">
                <div class="well">
                    <form ng-submit="saveSettings()">
                        <fieldset>
                            <legend>Notifications par mail pour les nouveaux commentaires :</legend>
                            <div class="form-group ">
                                <div class="controls">
                                    <label class="checkbox">
                                        <input type="checkbox" id="notifOnMyProposal" name="notifOnMyProposal" ng-model="user.notifOnMyProposal">
                                        <span></span>
                                        sur mes proposals.
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" ng-show="userService.isAdmin()">
                                <div class="controls">
                                    <label class="checkbox">
                                        <input type="checkbox" id="notifAdminOnAllProposal" name="notifAdminOnAllProposal" ng-model="user.notifAdminOnAllProposal">
                                        <span></span>
                                        sur tous les proposals.
                                    </label>
                                </div>
                            </div>
                            <div class="form-group " ng-show="userService.isAdmin()">
                                <div class="controls">
                                    <label class="checkbox">
                                        <input type="checkbox" id="notifAdminOnProposalWithComment" name="notifAdminOnProposalWithComment" ng-model="user.notifAdminOnProposalWithComment">
                                        <span></span>
                                        sur les proposals où jai mis un commentaire.
                                    </label>
                                </div>
                            </div>
                        </fieldset>


                        <span id="messageSuccess" class="badge badge-success hide"></span>
                        <span id="messageError" class="badge badge-important hide"></span>

                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Valider">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>