<div class="row">


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2 breadcrumb">
                <h2><li class="fa fa-user"></li> Profil</h2>

                <h4> <a href="/#/profil/{{user.id}}">{{user.fullname}}</a></h4>
                <p>{{user.email}}</p>

                <p>
                    <img ng-src="{{user.avatar}}?s=100">
                </p>
                <hr/>
                <a href="/#/settings/account">Profil</a>
                <br/>
                <a href="/#/settings/links">Liens</a>
                <br/>
                Notifications
                <br/>
                <a href="/#/settings/mac">Adresse mac</a>
                <hr/>
                <p>
                    <i ng-show="user.avatar != null" class="fa fa-check-square" style="color:green"></i>
                    <i ng-show="user.avatar == null" class="fa fa-warning" style="color:red"></i> Photo
                </p>
                <p>
                    <i ng-show="user.description != null" class="fa fa-check-square" style="color:green"></i>
                    <i ng-show="user.description == null" class="fa fa-warning" style="color:red"></i> Biographie
                </p>
                <p>
                    <i ng-show="user.links.length > 0" class="fa fa-check-square" style="color:green"></i>
                    <i ng-show="user.links.length == 0" class="fa fa-warning" style="color:red"></i> Liens
                </p>
                <p>
                    <i ng-show="user.adresseMac != null" class="fa fa-check-square" style="color:green"></i>
                    <i ng-show="user.adresseMac == null" class="fa fa-warning" style="color:red"></i> Accès réseau
                </p>
            </div>
            <div class="col-md-10">
                <div class="well">
                    <form ng-submit="saveSettings()">
                        <fieldset>
                            <legend>Notifications par mail pour les nouveaux commentaires :</legend>
                            <div class="form-group ">
                                <div class="controls">
                                    <label class="checkbox">
                                        <input type="checkbox" id="notifOnMyProposal" name="notifOnMyProposal" ng-model="user.notifOnMyProposal">
                                        <span></span>
                                        sur mes proposals.
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" ng-show="userService.isAdmin()">
                                <div class="controls">
                                    <label class="checkbox">
                                        <input type="checkbox" id="notifAdminOnAllProposal" name="notifAdminOnAllProposal" ng-model="user.notifAdminOnAllProposal">
                                        <span></span>
                                        sur tous les proposals.
                                    </label>
                                </div>
                            </div>
                            <div class="form-group " ng-show="userService.isAdmin()">
                                <div class="controls">
                                    <label class="checkbox">
                                        <input type="checkbox" id="notifAdminOnProposalWithComment" name="notifAdminOnProposalWithComment" ng-model="user.notifAdminOnProposalWithComment">
                                        <span></span>
                                        sur les proposals où jai mis un commentaire.
                                    </label>
                                </div>
                            </div>
                        </fieldset>


                        <span id="messageSuccess" class="badge badge-success hide"></span>
                        <span id="messageError" class="badge badge-important hide"></span>

                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Valider">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>