<div class="row">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 breadcrumb">
                <img ng-src="{{user.avatar}}?s=100"><br/>
                <br/>
                <a href="/#/settings/account">Profil</a>
                <br/>
                <a href="/#/settings/notifs">Notifications</a>
                <br/>
                Mot de passe
                <br/>
                <a href="/settings/email">Adresse mail</a>
            </div>
            <div class="span10">
                Cliquez sur Valider pour recevoir les instructions par mail.
                <p class="">
                    <span id="messageSuccess" class="badge badge-success hide"></span>
                    <span id="messageError" class="badge badge-important hide">Un mail a été envoyé. Merci de vérifier vos mails.</span>
                </p>
                <form ng-submit="resetPassword()">
                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Valider">
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>