<div class="row">
    <div class="col-md-12">
        <div class="well">
            <div ng-switch on="isNew" >
                <h3 ng-switch-when="true">Nouveau Track</h3>
                <h3 ng-switch-when="false">Edition du Track '{{track.title}}'</h3>
            </div>
            <form ng-submit="saveTrack()" name="formTrack">
                <fieldset>
                    <div class="form-group {{{true:'error', false:''}[errors.name != undefined || formTrack.title.$error['required']]}}">
                        <label class="control-label" for="title">Titre </label>
                        <div class="controls">
                            <input type="text" id="title" name="title" value="" class="input-large" ng-model="track.title" required>
                            <p class="help-inline">Longueur maximum: 50, Obligatoire</p>
                            <p class="help-inline" ng-repeat="error in errors.track">{{error}}</p>
                        </div>
                    </div>
                    <div class="form-group {{{true:'error', false:''}[errors.name != undefined || formTrack.shortTitle.$error['required']]}}">
                        <label class="control-label" for="title">Titre court </label>
                        <div class="controls">
                            <input type="text" id="shortTitle" name="shortTitle" value="" class="input-large" ng-model="track.shortTitle" required>
                            <p class="help-inline">Longueur maximum: 5, Obligatoire</p>
                            <p class="help-inline" ng-repeat="error in errors.shortTitle">{{error}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="wmd-input">Description</label>
                        <div class="controls">
                            <div id="wmd-button-bar"></div>
                            <textarea id="wmd-input"  name="description" class="wmd-input" rows="5" ng-model="track.description"></textarea>
                            <p class="help-inline">Longueur {{track.description.length}}/255</p>
                            <p class="help-inline" ng-repeat="error in errors.description">{{error}}</p>
                            <div id="wmd-preview" class="wmd-preview" pagedown-init="track.description"></div>
                        </div>
                    </div>                    
                    <span class="badge badge-important" ng-repeat="error in errors['']">{{error}}</span>
                </fieldset>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Valider"/>
                    <input type="button" onClick="document.location.href = '#/admin/tracks'" class="btn" value="Annuler">
                </div>
            </form>
        </div>
    </div>
</div>
