/* app css stylesheet */

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* ------------------------- */
/* ----- Global navbar ----- */
/* ------------------------- */
/* Align logo into brand name */
a.navbar-brand { padding: 10px 15px; }

/* Align avatar on navbar & set avatar size (10px more than line height) */
.navbar .avatar {
    margin: -5px 0;
    height: 30px;
}

/* ------------------------- */
/* -------   Login   ------- */
/* ------------------------- */
.form-icon {
    position: absolute;
    display: inline-block;
    color: #888;
    padding: 5px 10px;
    line-height:10px;
}

.large-icon {
    font-size: 2em;
    margin-right:5px;
}

.btn-block {
    vertical-align: ;
}

.form-text {
    padding-left: 40px;
    width: 100%;
}

/* login button */
.form-submit { text-align: right; }

/* Separator between regular login and secure social */
.form-separator {
    text-align: center;
    padding: 50px 0;
}

.form-separator span {
    padding: 20px;
    font-size: 18px;
    text-align: center;
    background: #888;
    border-radius: 50%;
    color: #ffffff;
}

/* Error message on form field */
.form-error {
    color: #A94442;
    font-weight: bold;
}

input[type="checkbox"] {
    margin: 0 5px;
}

.control-group label {
    display: inline-block;
}

ul.social-stack {
    padding: 0;
}

.social-stack li {
    list-style: none;
    padding-bottom: 5px;
}

.social-stack li a {
    min-width: 200px;
}

.pg-top-openid {
    list-style: none;
}

.privateComment::after {
    content: "Commentaire Privé";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}


.privateComment {
    position: relative;
}

.well .privateComment {
    padding-top: 40px;
}

.well .closComment {
    padding-top: 40px;
}
.closComment {
    position: relative;
}

.closComment::after {
    content: "Clos";
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #ffedbd;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 0 4px 0 4px;
    -moz-border-radius: 0 4px 0 4px;
    border-radius: 0 4px 0 4px;
}


.accordion-heading {
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.wmd-panel
{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    min-width: 500px;
}

.wmd-button-bar
{
    width: 100%;
    background-color: Silver;
}

.wmd-input
{
    height: 300px;
    width: 100%;
    margin-right: 10px;
    border: 1px solid DarkGray;
}

.wmd-preview
{
    position: relative;
    padding-top: 40px;
    border: 1px solid #DDD;
    padding-left: 10px;
    padding-right: 10px;
}

.wmd-preview::after {
    content: "Prévisualisation";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.wmd-button-row
{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;
    height: 20px;
}

.wmd-spacer
{
    width: 1px;
    height: 20px;
    margin-left: 14px;

    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(../img/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}


.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 2px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}


.proposal {
    float: left;
    margin: 0;
    border-top: 1px solid #954d5a;
    border-left: 1px solid #954d5a;
    width: 200px;
    height: 200px;
}

.proposal .avatar {
    width: 200px;
    height: 200px;
}

.proposal .caption {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    position: relative;
    overflow: hidden;
    bottom: 60px;
    height: 60px;
    line-height: 1.2em;
}

.proposal .caption .speaker {
    font-size: 20px;
    width:200px;
    text-align:center;
}

.container {
    padding-bottom:100px;
}

footer {
    background: #eee;
    color: #444;
    text-align: center;
    width:100%;
    position:fixed;
    bottom:0;
    border-top: solid 1px #888;
}
