/* app css stylesheet */

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.privateComment {
    position: relative;
}

.well .privateComment {
    padding-top: 40px;
}

.form-icon {
    position: absolute;
    display: inline-block;
    color: #888;
    padding: 5px 10px;
    line-height:10px;
}

.form-text {
    padding-left: 40px;
}

input[type="checkbox"] {
    margin: 0 5px;
}

#remember_me {
    margin-top: -10px;
}

#username, #password {
    padding-left: 40px;
}

.control-group label {
    display: inline-block;
}

#remember_me {
    position: relative;
}

.form-submit {
    position: absolute;
    left: 260px;
}

.form-separator {
    position: relative;
    top: 50px;
    left: 50px;
    padding: 20px;
    font-size: 18px;
    background: #888;
    border-radius: 50%;
    color: #ffffff;
}

.social-stack li {
    list-style: none;
    padding-bottom: 5px;
}

.social-stack li a {
    min-width: 200px;
}

.pg-top-openid {
    list-style: none;
}

.privateComment::after {
    content: "Commentaire Privé";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.accordion-heading {
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.wmd-panel
{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    min-width: 500px;
}

.wmd-button-bar
{
    width: 100%;
    background-color: Silver;
}

.wmd-input
{
    height: 300px;
    width: 100%;
    margin-right: 10px;
    border: 1px solid DarkGray;
}

.wmd-preview
{
    position: relative;
    padding-top: 40px;
    border: 1px solid #DDD;
    padding-left: 10px;
    padding-right: 10px;
}

.wmd-preview::after {
    content: "Prévisualisation";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.wmd-button-row
{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;
    height: 20px;
}

.wmd-spacer
{
    width: 1px;
    height: 20px;
    margin-left: 14px;

    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(../img/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}


.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 2px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}


.talk {
    float: left;
    margin: 0;
    border-top: 1px solid #954d5a;
    border-left: 1px solid #954d5a;
    width: 200px;
    height: 200px;
}

.talk .avatar {
    width: 200px;
    height: 200px;
}

.talk .caption {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    position: relative;
    overflow: hidden;
    bottom: 60px;
    height: 60px;
    line-height: 1.2em;
}

.talk .caption .speaker {
    font-size: 20px;
    width:200px;
    text-align:center;
}


