<div class="row">
    <h3>Ré-initialisation de votre mot de passe</h3>

    <p class="">
        <span id="messageSuccess" class="badge badge-success" ng-show="showSuccess">{{successMessage}}</span>
        <span id="messageError" class="badge badge-important" ng-show="showError">{{errorMessage}}</span>
    </p>

    Nouveau mot de passe :
    <form ng-submit="resetPassword()">
        <fieldset>
            <div class="control-group ">
                <label class="control-label" for="inputPassword"></label>
                <div class="controls">
                    <input type="password" id="inputPassword" name="inputPassword" placeholder="Mot de passe" ng-model="inputPassword"  ng-change="changeStrength(inputPassword, '#passwordStrengthDiv')">
                    <p class="help-inline">Obligatoire</p>
                </div><div id="passwordStrengthDiv" class="is0"></div>
            </div>
            <h6>Générer un mot de passe</h6>
            <input type="text" name="passwordGenerated" ng-model="generatedPassword" ng-change="changeStrength(generatedPassword, '#passwordStrengthDiv2')"/><i class="icon-refresh pointer" ng-click="generatePassword()"></i>
            <div id="passwordStrengthDiv2" class="is0"></div>
        </fieldset>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Valider" id="valider">
            <a href="/" class="btn">Retour</a>
        </div>

    </form>


</div>