<div class="row">
    <div class="container-fluid">
        <div class="row-fluid">
            <div ng-show="user" class="col-md-2 breadcrumb">
                <p><h4>{{user.fullname}}</h4></p>
                <p>{{user.email}}</p>
                <hr/>
                <img ng-src="{{user.avatar}}?s=100">
                <hr/>
                <p>
                    <a href="#/settings/account" class="btn btn-primary">Editer votre profil</a>
                </p>
            </div>
            <div ng-include src="views/header.html"></div>
            <div class="col-md-10">
                <div class="well">
                    <h2>DASHBOARD</h2><br>

                    <div class="alert alert-error" ng-show="user && !user.email" ng-cloak class="ng-cloak">
                        Merci de renseigner votre email sur votre <a href="/#/settings/email">profil</a> pour qu'on
                        puisse vous contacter.
                    </div>
                </div>
                <br/>

                <div class="well">
                    <div ng-show="userService.isAdmin()">
                        <h2>Status</h2>

                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <th class="col-md-2">Propositions (Draft)</th>
                                <th class="col-md-2">Proposals soumis</th>
                                <th class="col-md-2">Proposals rejetés</th>
                                <th class="col-md-2">Proposals acceptés</th>
                                <th class="col-md-2">Proposals en attente</th>
                                <th class="col-md-2">Vos Votes</th>
                            </tr>
                            <tr>
                                <td>{{proposalstats.nbProposalDraft}}</td>
                                <td>{{proposalstats.nbProposals}}</td>
                                <td>{{proposalstats.nbRejetes}} / {{proposalstats.nbProposals}}</td>
                                <td>{{proposalstats.nbAcceptes}} / {{proposalstats.nbProposals}}</td>
                                <td>{{proposalstats.nbProposals - proposalstats.nbRejetes -
                                    proposalstats.nbAcceptes}} / {{proposalstats.nbProposals}}
                                </td>
                                <td>{{proposalstats.nbVotesUser}} / {{proposalstats.nbProposals}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br/>

                    <h2><a ng-href="/#/manageproposal">Proposals</a></h2>
                    <h4 ng-show="!proposals.length">
                        - Aucun proposal proposé
                    </h4>
                    <h4 ng-show="proposalsDraft.length == 1">
                        - 1 proposal en édition
                    </h4>
                    <h4 ng-show="proposalsDraft.length > 1">
                        - {{proposals.length}} proposals en édition
                    </h4>
                    <h4 ng-show="proposals.length == 1">
                        - 1 proposal proposé
                    </h4>
                    <h4 ng-show="proposals.length > 1">
                        - {{proposals.length}} proposals proposés
                    </h4>
                    <br/>
                    <h4 ng-show="proposalsok.length > 0"> - Proposals acceptés</h4>

                    <p ng-repeat="proposal in proposalsok">- <a ng-href="/#/proposals/see/{{proposal.id}}" title="{{proposal.title}}">{{proposal.title}}</a>
                    </p>
                    <br/>
                    <h4 ng-show="proposals_w.length > 0"> - Proposals en attente</h4>

                    <p ng-repeat="proposal in proposals_w">- <a ng-href="/#/proposals/see/{{proposal.id}}" title="{{proposal.title}}">{{proposal.title}}</a>
                    </p>
                    <br/>
                    <h4 ng-show="proposalsko.length > 0"> - Proposals refusés</h4>

                    <p ng-repeat="proposal in proposalsko">- <a ng-href="/#/proposals/see/{{proposal.id}}" title="{{proposal.title}}">{{proposal.title}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>