<div class="row">
    <div ng-repeat="talk in talks | filter:doStatus">
        <div class="modal fade" id="deleteTalk{{talk.id}}">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Suppression du Talk {{talk.title}}</h3>
            </div>
            <div class="modal-body">
                <p>Attention, le talk va être supprimé.</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Annuler</a>
                <form ng-submit="deleteTalk({{talk}})" name="formdelete{{talk.id}}">
                    <input type="submit" class="btn btn-primary" value="Supprimer" />
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                        <fieldset>
                            <form>
                               <select id="status" name="status" multiple="true" ng-model="status">
                                   <option value="REJETE" >Rejeté</option>
                                   <option value="ACCEPTE" >Accepté</option>
                                   <option value="ATTENTE" >Attente</option>
                                   <option value="NULL" >Sans status</option>
                               </select>
                            </form>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 well">
                        <p>{{(talks|filter:talksAcceptes).length}} talks acceptés</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 well">
                        <a href="/talk/all/csv" class="btn btn-info">Export CSV</a>
                        <a ng-click="rejeterRestant()" class="btn btn-danger">Rejeter les talks restant</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">


    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tbody><tr>
                <th class="col-md-2"><a ng-click="predicate = 'speaker.fullname'; reverse=!reverse">Speaker</a></th>
                <th class="col-md-6"><a ng-click="predicate = 'title'; reverse=!reverse">Titre</a></th>
                <th class="col-md-6">Créneaux</th>
                <th class="col-md-2">Statut</th>
                <th class="col-md-1">Note</th>
                <th class="col-md-1" ng-show="vote.status == 'CLOSED'"><a ng-click="predicate = 'moyenne'; reverse=!reverse">Moyenne</a></th>
                <th class="col-md-1" ng-show="vote.status == 'CLOSED'">Nb Votes</th>
                <th class="col-md-1">Actions</th>
            </tr>

            <tr ng-repeat="talk in talks | filter:doStatus | orderBy:predicate:reverse ">
                <td><div ng-show="talk.speaker != null"><a ng-href="/#/profil/{{talk.speaker.id}}" ><img ng-src="{{talk.speaker.avatar}}" style="height : 30px" class="img-rounded"> {{talk.speaker.fullname}}</a></div>
                    <div ng-show="talk.speaker == null">Compte Supprimé</div></td>
                <td><a href="#talk{{talk.id}}" ng-click="getTalkDetails(talk.id)" data-toggle="modal">{{talk.title}}</a>
                    <div id="talk{{talk.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="talkLabel{{talk.id}}" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3 id="talkLabel{{talkModal.id}}"><a href="/#/talks/see/{{talkModal.id}}" data-dismiss="modal">{{talkModal.title}}</a></h3>
                                            <div ng-show="talkModal.statusTalk != undefined" ng-switch on="talkModal.statusTalk">
                                            <span class="label label-important" ng-switch-when="REJETE">Rejeté</span>
                                            <span class="label label-warning" ng-switch-when="ATTENTE">Liste d'attente</span>
                                            <span class="label label-success" ng-switch-when="ACCEPTE">Accepté</span>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Speakers :</h4>
                                        <p><div ng-show="talkModal.speaker != null"><a ng-href="/#/profil/{{talkModal.speaker.id}}" data-dismiss="modal"><img ng-src="{{talkModal.speaker.avatar}}" style="height : 30px" class="img-rounded"> {{talk.speaker.fullname}}</a></div>
                                            <div ng-show="talkModal.speaker == null">Compte Supprimé</div></p>
                                        <ul>
                                            <li ng-repeat="coSpeaker in talkModal.coSpeakers"><a ng-href="/#/profil/{{coSpeaker.id}}" >{{coSpeaker.fullname}}</a></li>
                                        </ul>
                                        <br />
                                        <p class="help-inline" ng-repeat="creneau in talkModal.creneaux">
                                            <span class="label" ng-show="(talkModal.dureePreferee == null || creneau.id!=talkModal.dureePreferee.id) && (talkModal.dureeApprouve == null || creneau.id!=talkModal.dureeApprouve.id)">{{creneau.libelle + ' (' + creneau.dureeMinutes + 'min)'}}</span>
                                            <span class="label label-info" ng-show="(talkModal.dureePreferee != null &&  creneau.id==talkModal.dureePreferee.id) && (talkModal.dureeApprouve == null ||  creneau.id!=talkModal.dureeApprouve.id) ">{{creneau.libelle + ' (' + creneau.dureeMinutes + 'min)'}}</span>
                                            <span class="label label-success" ng-show="talkModal.dureeApprouve != null &&  creneau.id==talkModal.dureeApprouve.id">{{creneau.libelle + ' (' + creneau.dureeMinutes + 'min)'}}</span>
                                        </p>
                                        <div ng-show="userService.isAdmin() && (vote.status == 'OPEN' || vote.status == 'NOT_BEGIN')">
                                            <form ng-submit="postVote(talkModal)" class="form-inline">
                                                <div class="form-group {{{true:'error', false:''}[errors.vote != undefined]}}">
                                                    <stars ng-model="talkModal" talkid="{{talkModal.id}}" />
                                                    <select id="note" name="note" ng-model="talkModal.note">
                                                        <option value="null"></option>
                                                        <option value="1">1 - Null</option>
                                                        <option value="2">2 - Mouais</option>
                                                        <option value="3">3 - Pourquoi pas</option>
                                                        <option value="4">4 - Vraiment bien</option>
                                                        <option value="5">5 - Exceptionnel</option>
                                                    </select>
                                                </div>
                                                <input  type="submit" class="btn btn-primary" value="Valider">
                                            </form>

                                        </div>

                                        <h4>Description :</h4>
                                        <p>{{talkModal.description}}</p>
                                        <p ng-bind-html-unsafe="getSafeDescription()"></p>
                                        <p><a href="/#/talks/see/{{talkModal.id}}" data-dismiss="modal">détails</a></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                    </div>
                                </div>
                </td>
                <td><p class="help-inline" ng-repeat="creneau in talk.creneaux">
                        <span class="label" ng-show="(talk.dureePreferee == null || creneau.id!=talk.dureePreferee) && (talk.dureeApprouve == null || creneau.id!=talk.dureeApprouve)">{{creneau.libelle + ' (' + creneau.dureeMinutes + 'min)'}}</span>
                        <span class="label label-info" ng-show="(talk.dureePreferee != null &&  creneau.id==talk.dureePreferee) && (talk.dureeApprouve == null ||  creneau.id!=talk.dureeApprouve) ">{{creneau.libelle + ' (' + creneau.dureeMinutes + 'min)'}}</span>
                        <span class="label label-success" ng-show="talk.dureeApprouve != null &&  creneau.id==talk.dureeApprouve">{{creneau.libelle + ' (' + creneau.dureeMinutes + 'min)'}}</span>
                    </p>
                </td>
                <td><div ng-show="talk.statusTalk != undefined" ng-switch on="talk.statusTalk">
                    <span class="label label-important" ng-switch-when="REJETE">Rejeté</span>
                    <span class="label label-warning" ng-switch-when="ATTENTE">Liste d'attente</span>
                    <span class="label label-success" ng-switch-when="ACCEPTE">Accepté</span>
                </div></td>

                <td>{{talk.vote}}
                </td>
                <td ng-show="vote.status == 'CLOSED'">{{talk.moyenne}}</td>
                <td ng-show="vote.status == 'CLOSED'">{{talk.nbvote}}</td>
                <td><a  class="btn" href="#deleteTalk{{talk.id}}" data-toggle="modal">Supprimer</a></td>
            </tr>

            </tbody>
        </table>
    </div>

</div>