<div class="row">

    <div class="span12">
        <div class="well">
                <fieldset>
                    <form>
                       <select id="status" name="status" multiple="true" ng-model="status">
                           <option value="REJETE" selected="selected">Rejeté</option>
                           <option value="ACCEPTE" selected="selected">Accepté</option>
                           <option value="ATTENTE" selected="selected">Attente</option>
                       </select>
                    </form>
            </fieldset>
        </div>
    </div>

    <div class="span12">
        <table class="table table-bordered table-striped">
            <tbody><tr>
                <th class="span2">Speaker</th>
                <th class="span6">Titre</th>
                <th class="span6">Créneaux</th>
                <th class="span2">Statut</th>
                <th class="span1">Note</th>
                <th class="span1" ng-show="vote.status == 'CLOSED'"><a ng-click="predicate = 'moyenne'; reverse=!reverse">Moyenne</a></th>
            </tr>

            <tr ng-repeat="talk in talks | filter:doStatus | orderBy:predicate:reverse ">
                <td><div ng-show="talk.speaker != null"><a ng-href="/#/profil/{{talk.speaker.id}}" ><img ng-src="{{talk.speaker.avatar}}" style="height : 30px" class="img-rounded"> {{talk.speaker.fullname}}</a></div>
                    <div ng-show="talk.speaker == null">Compte Supprimé</div></td>
                <td><a href="/#/talks/see/{{talk.id}}">{{talk.title}}</a></td>
                <td><p class="help-inline" ng-repeat="creneau in talk.creneaux">
                        <span class="label" ng-show="talk.dureePreferee == null || creneau.id!=talk.dureePreferee.id">{{creneau.libelle + ' (' + creneau.dureeMinutes + 'min)'}}</span>
                        <span class="label label-info" ng-show="talk.dureePreferee != null &&  creneau.id==talk.dureePreferee.id">{{creneau.libelle + ' (' + creneau.dureeMinutes + 'min)'}}</span>
                    </p>
                </td>
                <td><div ng-show="talk.statusTalk != undefined" ng-switch on="talk.statusTalk">
                    <span class="label label-important" ng-switch-when="REJETE">Rejeté</span>
                    <span class="label label-warning" ng-switch-when="ATTENTE">Liste d'attente</span>
                    <span class="label label-success" ng-switch-when="ACCEPTE">Accepté</span>
                </div></td>

                <td>{{talk.vote.note}}</td>
                <td ng-show="vote.status == 'CLOSED'">{{talk.moyenne}}</td>
            </tr>

            </tbody>
        </table>
    </div>

</div>