<div class="row">

    <div class="container" style="padding-top: 30px">
        <div class="page-header">
            <h1>Bienvenue sur le CFP du BreizhC&#64;mp</h1>
        </div>

        <legend>Connexion</legend>
        <div class="row">
            <div class="span5">
            <form action="/authenticate/userpass" class="form-horizontal" autocomplete="off" method="POST">
                <fieldset>
                    <div class="control-group  " id="username_field">
                        <i class="form-icon icon-user"></i>
                        <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" class="input-xlarge" required>
                    </div>
                    <div class="control-group  " id="password_field">
                        <i class="form-icon icon-key"></i>
                        <input type="password" id="password" name="password" placeholder="Mot de passe" class="input-xlarge" required>
                        <br>
                        <a href="/reset" class="form-text">Mot de passe oublié ?</a>
                    </div>
                    <div class="control-group  " id="remember_me">
                        <input type="checkbox" id="rememberMe" name="rememberMe"/><label for="rememberMe">Se souvenir de moi</label>
                        <button type="submit" class="btn btn-primary form-submit">Login</button>
                    </div>

                </fieldset>
            </form>
          </div>
          <div class="span2">
              <span class="form-separator">ou</span>
          </div>
          <div class="span5">
              <ul class="social-stack">
                  <li><a href="/authenticate/github" class="btn btn-inverse"><span class="icon-github-sign"></span> Connexion via GitHub</a></li>
                  <li><a href="/authenticate/google" class="btn btn-inverse"><span class="icon-google-plus-sign"></span> Connexion via Google</a></li>
                  <li><a href="/authenticate/twitter" class="btn btn-inverse"><span class="icon-twitter-sign"></span> Connexion via Twitter</a></li>
              </ul>
          </div>

        </div>
        <div class="row">
            <div class="span5">
                <a href="/signup">Creer un compte</a>
            </div>
        </div>

    </div>	

</div>