<div class="row">

    <div class="container" style="padding-top: 30px">
        <div class="page-header">
            <h1>Bienvenue sur le CFP du BreizhC&#64;mp</h1>
        </div>
        <div class="row well">
            <legend>Authentification avec un compte Github/Google/Twitter</legend>
            <div class="span3 offset1">
                <a href="/authenticate/github" class="btn btn-large btn-info"><img src="/assets/securesocial/images/providers/github.png"> GitHub</a>
            </div>
            <div class="span3">
                <a href="/authenticate/google" class="btn btn-large btn-info"><img src="/assets/securesocial/images/providers/google.png"> Google</a>
            </div>
            <div class="span3">
                <a href="/authenticate/twitter" class="btn btn-large btn-info"><img src="/assets/securesocial/images/providers/twitter.png"> Twitter</a>
            </div>
        </div>
        <div class="row well">
            <form action="/authenticate/userpass" class="form-horizontal" autocomplete="off" method="POST">
                <fieldset>
                    <legend>Authentification avec un compte local</legend>
                    <div class="control-group  " id="username_field">
                        <label class="control-label" for="username">Email</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" value="" class="input-xlarge"> <span class="help-block">Champ obligatoire</span>
                        </div>
                    </div>
                    <div class="control-group  " id="password_field">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" value="" class="input-xlarge"> <span class="help-block">Champ obligatoire</span>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="clearfix">
                        <a href="/reset"></a>
                        <p>
                            <a href="/reset">Vous avez oublié votre mot de passe ??</a>
                        </p>
                    </div>
                    <div class="clearfix">
                        <p>
                            Pour la création d'un compte local, c'est <a href="/signup">par ici</a>
                        </p>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>	

    <!-- Modal 
    <div id="signUpModal" class="modal hide fade" tabindex="-1" role="dialog" data-keyboard="false">
        <form ng-submit="createAccount()" class="form-horizontal" autocomplete="off">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="signUpModalLabel">Création de compte</h3>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="control-group  " id="email_field">
                        <label class="control-label" for="emailpopup">Email</label>
                        <div class="controls">
                            <input ng-model="email" type="email" id="emailpopup" name="email" value="" class="input-xlarge" required>
                            <span class="help-block">Champ obligatoire</span>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Annuler</button>
                <button class="btn btn-primary" type="submit">Créer votre compte</button>
            </div>
        </form>
        <script>
            $('#signUpModal').on('shown', function() {
                // Focus sur le champ email à l'ouverture de la popup
                document.getElementById('emailpopup').focus();
            })
        </script>
    </div>
    -->


</div>