<div class="row">
    <div class="container-fluid">
        <div class="row-fluid">
            <div ng-show="user" class="col-md-2 breadcrumb">
                <p><h4> <a href="/#/profil/{{user.id}}">{{user.fullname}}</a></h4></p>
                <p>{{user.email}}</p>
                <hr/>
                <img ng-src="{{user.avatar}}?s=100">
                <hr/>
                <p>
                    <a href="#/settings/account" class="btn btn-primary">Editer votre profil</a>
                </p>
            </div>
            <div class="col-md-8">
                <div ng-show="user.isInfoValid">
                <legend>Vos Proposals</legend>
                <p>
                    <span class="badge badge-important" ng-repeat="error in errors['']">{{error}}</span>
                </p>
                <table class="table table-bordered table-striped" ng-show="proposals.length >0">
                    <tbody>

                    <tr>
                        <th class="col-md-4"><a ng-click="predicate = 'title'; reverse=!reverse">Titre</a></th>
                        <th class="col-md-4">Présentateur(s)</th>
                        <th><a ng-click="predicate = 'draft'; reverse=!reverse">Etat</a></th>
                        <th class="col-md-2">Soumettre</th>
                        <th class="col-md-2">Status</th>
                        <th class="col-md-3">Action(s)</th>
                    </tr>
                    <tr ng-repeat="proposal in proposals | orderBy:predicate:reverse ">
                        <td><a href="/#/proposals/see/{{proposal.id}}">{{proposal.title}}</a></td>
                        <td><a href="/#/profil/{{user.id}}"><span class="fa fa-user"></span> {{user.fullname}}</a>

                            <p ng-repeat="coSpeaker in proposal.coSpeakers">
                                <a href="/#/profil/{{coSpeaker.id}}"><span class="fa fa-user"></span> {{coSpeaker.fullname}}</a>
                            </p></td>
                        <td><p ng-show="proposal.draft">Draft</p>

                            <p ng-show="!proposal.draft">Soumis</p></td>
                        <td><p ng-show="proposal.draft"><a ng-click="submitProposal(proposal)">Soumettre</a></p></td>
                        <td>{{proposal.statusProposal}}</td>
                        <td><a href="#/editproposal/{{proposal.id}}"><i class="fa fa-pencil"></i></a>
                            <a ng-click="deleteProposal(proposal)"><i class="fa fa-times-circle-o"></i></a></td>
                    </tr>
                    </tbody>
                </table>
                <p  ng-show="proposals.length == 0">Aucun Proposal</p>
                <p ng-show="user.isInfoValid">
                    <a href="#/submitproposal/new">
                        <button class="btn btn-primary">Nouveau Proposal</button>
                    </a>
                </p>
                </div>
                <p ng-show="!user.isInfoValid">
                    Les informations (Email,Description,Nom) de votre profil ne sont pas complètes.Veuillez les renseigner avant de pouvoir soumettre une proposition.<br/>
                    <a href="#/settings/account" class="btn btn-primary">Editer votre profil</a>
                </p>
            </div>
        </div>
    </div>
</div>