<div class="row">

    <script type="text/javascript">
        function displayHide(id){
            var respStyle = document.getElementById(id).style;
            if(respStyle.display == 'none'){
                document.getElementById(id).style.display = 'block';
            } else {
                document.getElementById(id).style.display = 'none';
            }
        }


    </script>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 breadcrumb">
                <img ng-src="{{pUser.avatar}}?s=100" style="max-width:100px;max-height: 100px"><br/>
            </div>
            <div class="span10">
                <div class="well">
                    <h2>{{pUser.fullname}}</h2>
                    <p ng-show="pUser.admin && talks.length==0">(Organisateur)</p>
                    <p ng-show="pUser.admin && talks.length!=0 ">(Speaker/Organisateur)</p>
                    <p ng-show="!pUser.admin && talks.length!=0 ">(Speaker)</p><br />

                    <div id="showDescription" class="well" ng-bind-html-unsafe="getSafeDescription()"></div>
                    <input type="button" class="btn btn-primary" value="Modifier" ng-show="userService.isAdmin()"
                           onclick="displayHide('editDescription');displayHide('showDescription');">
                    <div class="well" id="editDescription" style="display: none;">
                        <form ng-submit="editProfil({{pUser.id}})" method="POST" class="form-inline">
                            <div class="control-group {{{true:'error', false:''}[errors.descriptionE != undefined]}}">
                                <div class="controls">
                                    <div id="wmd-button-bar"></div>
                                    <textarea id="wmd-input" name="descriptionE" placeholder="Description/Bio" ng-init="$parent.descriptionE=pUser.description" class="wmd-input" ng-model="descriptionE" rows="10"></textarea>
                                    <p class="help-inline">Longueur maximum: {{descriptionE.length}}/2000, Obligatoire</p>
                                    <p class="help-inline" ng-repeat="error in errors.descriptionE">{{error}}</p>
                                    <div id="wmd-preview" class="wmd-preview" pagedown-init="descriptionE"></div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Valider">
                            <input type="button" class="btn btn-primary" value="Annuler" onclick="displayHide('editDescription');displayHide('showDescription');">
                        </form>
                    </div>
                    <h3>Liens</h3>
                    <p ng-show="pUser.liens.length == 0">
                        - aucun lien
                    </p>
                    <p ng-repeat="lien in pUser.liens">- <a ng-href="{{lien.url}}" target="_blank">{{lien.label}}</a></p>

                    <div>
                        <h3 >Autres informations</h3>
                        <ul>
                            <li ng-repeat="dynamicField in user.dynamicFields"><strong>{{dynamicField.name}} : </strong>{{dynamicField.value}}</li>
                        </ul>
                    </div>

                    <h3 ng-show="talks.length > 0">Talks proposés</h3>
                    <table class="table table-bordered table-striped">
                        <tbody><tr>
                            <th class="span6">Titre</th>
                            <th class="span2">Statut</th>
                        </tr>

                        <tr ng-repeat="talk in talks | orderBy:predicate:reverse">
                            <td><a href="/#/talks/see/{{talk.id}}">{{talk.title}}</a></td>
                            <td><div ng-show="talk.statusTalk != undefined" ng-switch on="talk.statusTalk">
                                <span class="label label-important" ng-switch-when="REJETE">Rejeté</span>
                                <span class="label label-warning" ng-switch-when="ATTENTE">Liste d'attente</span>
                                <span class="label label-success" ng-switch-when="ACCEPTE">Accepté</span>
                            </div></td>
                        </tr>

                        </tbody></table>

                    <h3 ng-show="talksok.length > 0">Talks acceptés</h3>
                    <p ng-repeat="talk in talksok">- <a ng-href="/#/talks/see/{{talk.id}}" title="{{talk.title}}" >{{talk.title}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>