<div class="row">


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 breadcrumb">
                <img ng-src="{{pUser.avatar}}?s=100"><br/>
            </div>
            <div class="span10">
                <div class="well">
                    <h2>{{pUser.fullname}}</h2>
                    <p ng-show="pUser.admin && talks.length==0">(Organisateur)</p>
                    <p ng-show="pUser.admin && talks.length!=0 ">(Speaker/Organisateur)</p>
                    <p ng-show="!pUser.admin && talks.length!=0 ">(Speaker)</p><br />

                    <div class="well" ng-bind-html-unsafe="getSafeDescription()"></div>
                    <h3>Liens</h3>
                    <p ng-show="pUser.liens.length == 0">
                        - aucun lien
                    </p>
                    <p ng-repeat="lien in pUser.liens">- <a ng-href="{{lien.url}}" target="_blank">{{lien.label}}</a></p>

                    <div>
                        <h3 >Autres informations</h3>
                        <ul>
                            <li ng-repeat="dynamicField in user.dynamicFields"><strong>{{dynamicField.name}} : </strong>{{dynamicField.value}}</li>
                        </ul>
                    </div>

                    <h3 ng-show="talks.length > 0">Talks proposés</h3>
                    <table class="table table-bordered table-striped">
                        <tbody><tr>
                            <th class="span6">Titre</th>
                            <th class="span2">Statut</th>
                        </tr>

                        <tr ng-repeat="talk in talks | orderBy:predicate:reverse">
                            <td><a href="/#/talks/see/{{talk.id}}">{{talk.title}}</a></td>
                            <td><div ng-show="talk.statusTalk != undefined" ng-switch on="talk.statusTalk">
                                <span class="label label-important" ng-switch-when="REJETE">Rejeté</span>
                                <span class="label label-warning" ng-switch-when="ATTENTE">Liste d'attente</span>
                                <span class="label label-success" ng-switch-when="ACCEPTE">Accepté</span>
                            </div></td>
                        </tr>

                        </tbody></table>

                    <h3 ng-show="talksok.length > 0">Talks acceptés</h3>
                    <p ng-repeat="talk in talksok">- <a ng-href="/#/talks/see/{{talk.id}}" title="{{talk.title}}" >{{talk.title}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>