<div class="row">
    <h3>Ré-initialisation de votre mot de passe</h3>
    <form ng-submit="resetPassword()">
        <fieldset id="fieldEmail">
            <div class="form-group ">
                <label class="control-label" for="email"></label>
                <div class="controls">
                    <input type="text" id="email" name="email" placeholder="Adresse mail" ng-model="email">
                    <p class="help-inline">Obligatoire</p>
                </div>
            </div>
        </fieldset>

        <p class="">
            <span id="messageSuccess" class="badge badge-success hide"></span>
            <span id="messageError" class="badge badge-important hide"></span>
        </p>
        <div class="form-actions">
            <input id="valider" type="submit" class="btn btn-primary" value="Valider">
            <a href="/" class="btn">Retour</a>
        </div>
    </form>
</div>
