<div class="row">

    <div class="span8">
        <div class="well">
            <h3>{{talk.title}}</h3>
            Soumis par <a ng-href="/#/profil/{{talk.speaker.id}}" >{{talk.speaker.fullname}}</a><br/>
            <br/>
            <p>
                {{talk.description}}
            </p>
            <p></p>
            <div class="well" ng-show="userService.isAdmin()">
                <form ng-submit="postStatus()" method="POST" class="form-inline">

                    <div class="control-group {{{true:'error', false:''}[errors.status != undefined]}}">
                        <label for="status">Status du talk</label>
                        <div class="controls">
                            <select id="status" name="status" ng-model="talk.statusTalk">
                                <option value="null"></option>
                                <option value="REJETE">Rejeté</option>
                                <option value="ATTENTE">Liste d'attente</option>
                                <option value="ACCEPTE">Accepté</option>
                            </select>
                            <p class="help-inline" ng-repeat="error in errors.status">{{error}}</p>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Valider">
                </form>
            </div>
            <div class="well" ng-show="!userService.isAdmin() && talk.statusTalk != undefined" ng-switch on="talk.statusTalk">
                Status du talk :
                <span class="label label-important" ng-switch-when="REJETE">Rejeté</span>
                <span class="label label-warning" ng-switch-when="ATTENTE">Liste d'attente</span>
                <span class="label label-success" ng-switch-when="ACCEPTE">Accepté</span>
            </div>

            <div class="well" ng-show="userService.isAdmin() && voteStatus.status == 'OPEN'">
                <form ng-submit="postVote()" class="form-inline">
                    <div class="control-group {{{true:'error', false:''}[errors.vote != undefined]}}">
                        <label for="note">Note du talk</label>
                        <div class="controls">
                            <select id="note" name="status" ng-model="talk.vote.note">
                                <option value="null"></option>
                                <option value="1">1 - Null</option>
                                <option value="2">2 - Mouais</option>
                                <option value="3">3 - Pourquoi pas</option>
                                <option value="4">4 - Vraiment bien</option>
                                <option value="5">5 - Exceptionnel</option>
                            </select>
                            <p class="help-inline" ng-repeat="error in errors.status">{{error}}</p>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Valider">
                </form>
            </div>
        </div>

        <div class="well">
            <h4>Tags</h4>
            <p>{{talk.tagsname}}</p>
            <br/>
        </div>

        <div class="well">
            <h3>Questions/Réponses</h3>
            <div class="well" ng-repeat="comment in talk.comments">
                <img ng-src="{{comment.author.avatar}}?s=40"> {{comment.author.fullname}}<br/>
                {{comment.comment}}
            </div>

            <div class="well">
                <form ng-submit="postComment()" method="POST" class="form-inline">

                    <div class="control-group {{{true:'error', false:''}[errors.comment != undefined]}}">
                        <div class="controls">
                            <input type="text" name="comment" ng-model="comment" placeholder="Nouveau commentaire">
                            <p class="help-inline" ng-repeat="error in errors.comment">{{error}}</p>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Valider">
                </form>
            </div>
        </div>
    </div>
</div>