<div class="row">

    <div class="span8">
        <div class="well">
            <h3>{{talk.title}}
                <p class="help-inline" ng-repeat="creneau in talk.creneaux">
                    <span class="label">{{creneau.libelle + ' (' + creneau.dureeMinutes + 'min)'}}</span>
                </p>
            </h3>
            <p>Soumis par <a ng-href="/#/profil/{{talk.speaker.id}}" >{{talk.speaker.fullname}}</a>
            </p>
            <div class="well" markdownpreview="talk.description"></div>
            <p></p>
            <div class="well" ng-show="userService.isAdmin()">
                <form ng-submit="postStatus()" method="POST" class="form-inline">

                    <div class="control-group {{{true:'error', false:''}[errors.status != undefined]}}">
                        <label for="status">Status du talk</label>
                        <div class="controls">
                            <select id="status" name="status" ng-model="talk.statusTalk">
                                <option value="null"></option>
                                <option value="REJETE">Rejeté</option>
                                <option value="ATTENTE">Liste d'attente</option>
                                <option value="ACCEPTE">Accepté</option>
                            </select>
                            <p class="help-inline" ng-repeat="error in errors.status">{{error}}</p>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Valider">
                </form>
            </div>
            <div class="well" ng-show="!userService.isAdmin() && talk.statusTalk != undefined" ng-switch on="talk.statusTalk">
                Status du talk :
                <span class="label label-important" ng-switch-when="REJETE">Rejeté</span>
                <span class="label label-warning" ng-switch-when="ATTENTE">Liste d'attente</span>
                <span class="label label-success" ng-switch-when="ACCEPTE">Accepté</span>
            </div>

            <div class="well" ng-show="userService.isAdmin() && voteStatus.status == 'OPEN'">
                <form ng-submit="postVote()" class="form-inline">
                    <div class="control-group {{{true:'error', false:''}[errors.vote != undefined]}}">
                        <label for="note">Note du talk</label>
                        <input id="note" name="note" type="hidden"    ng-model="talk.vote.note" />
                        <div id="star" ng-init="note()"> </div>

                    </div>
                    <input  type="submit" class="btn btn-primary" value="Valider">
                </form>

            </div>
        </div>

        <div class="well">
            <h4>Tags</h4>
            <p>{{talk.tagsname}}</p>
            <br/>
        </div>
        <script type="text/javascript">
            function displayReponse(id){
                    var respStyle = document.getElementById(id).style;
                    if(respStyle.display == 'none'){
                        document.getElementById(id).style.display = 'block';
                    } else {
                        document.getElementById(id).style.display = 'none';
                    }
            }
        </script>

        <div class="well">
            <h3>Questions/Réponses</h3>
            <div class="well {{{true:'privateComment',false:''}[comment.privateComment == true]}}" ng-repeat="comment in talk.comments">
                <img ng-src="{{comment.author.avatar}}?s=40"> {{comment.author.fullname}}<br/>
                {{comment.comment}}
                <br/> <br/><br/>
                <div class="well {{{true:'privateComment',false:''}[comment.privateComment == true]}}" ng-repeat="reponse in comment.reponses">
                    <img ng-src="{{comment.author.avatar}}?s=40"> {{reponse.author.fullname}}<br/>
                    {{reponse.comment}}
                </div>
                <input type="button" class="btn btn-primary" value="Repondre" ng-show="!comment.clos" onclick="displayReponse('resp-{{comment.id}}')">
                <div class="well" id="resp-{{comment.id}}" style="display: none;">
                    <form ng-submit="postReponse({{comment.id}})" method="POST" class="form-inline">

                        <div class="control-group {{{true:'error', false:''}[errors.commentR != undefined]}}">
                            <div class="controls">
                                <textarea name="commentR" ng-model="$parent.commentR" class="input-xlarge"  rows="3" placeholder="Repondre au commentaire" ></textarea>
                                <p class="help-inline" ng-repeat="error in errors.commentR">{{error}}</p>
                                <label class="checkbox" ng-show="userService.isAdmin()">
                                    <input type="checkbox" name="privateR" ng-model="$parent.privateR" ng-show="userService.isAdmin()">Commentaire privé</input>
                                </label>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Valider">
                    </form>
                </div>
            </div>

            <div class="well">
                <form ng-submit="postComment()" method="POST" class="form-inline">

                    <div class="control-group {{{true:'error', false:''}[errors.comment != undefined]}}">
                        <div class="controls">
                            <textarea name="comment" class="input-xxlarge" ng-model="comment" rows="5" placeholder="Nouveau commentaire" ></textarea>
                            <p class="help-inline" ng-repeat="error in errors.comment">{{error}}</p>
                            <label class="checkbox" ng-show="userService.isAdmin()">
                                <input type="checkbox" id="private" name="private" ng-model="private" ng-show="userService.isAdmin()">Commentaire privé</input>
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Valider">
                </form>
            </div>
        </div>
    </div>
</div>