<div class="row">

    <div class="span8">
        <div class="well">
            <h3>{{talk.title}}</h3>
            Soumis par {{talk.speaker.fullname}}<br/>
            <br/>
            <p>
                {{talk.description}}
            </p>
            <p></p>


        </div>

        <div class="well">
            <h4>Tags</h4>
            <p>{{talk.tags}}</p>
            <br/>
        </div>

        <div class="well">
            <h3>Questions/Réponses</h3>
            <div class="well" ng-repeat="comment in talk.comments">
                <img ng-src="{{comment.author.avatar}}?s=40"> {{comment.author.fullname}}<br/>
                {{comment.comment}}
            </div>

            <div class="well">
                <form ng-submit="postComment()" method="POST" class="form-inline">

                    <div class="control-group {{{true:'error', false:''}[errors.comment != undefined]}}">
                        <div class="controls">
                            <input type="text" name="comment" ng-model="comment" placeholder="Nouveau commentaire">
                            <p class="help-inline" ng-repeat="error in errors.comment">{{error}}</p>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Valider">
                </form>
            </div>
        </div>
    </div>
</div>