<div class="row">
	<div class="span3">&nbsp;</div>
	<div class="span12">
		<div class="well">
			<div ng-switch on="isNew" >
				<h3 ng-switch-when="true">Nouveau talk</h3>
				<h3 ng-switch-when="false">Edition du talk '{{talk.title}}'</h3>
			</div>
			<form ng-submit="saveTalk()">
				<fieldset>
					<div class="control-group ">
						<label class="control-label" for="title"></label>
						<div class="controls">
							<input type="text" id="title" name="title" value="" placeholder="Titre" class="input-xxlarge" ng-model="talk.title">
							<p class="help-inline">Longueur maximum: 50, Obligatoire</p>
						</div>
					</div>
					<div class="control-group ">
						<label class="control-label" for="description"></label>
						<div class="controls">
							<textarea id="description" name="description" placeholder="Description" class="input-xxlarge" rows="10" ng-model="talk.description"></textarea>
							<p class="help-inline">Longueur maximum: 2&nbsp;000, Obligatoire</p>
						</div>
					</div>
				</fieldset>
				<div class="form-actions">
					<input type="submit" class="btn btn-primary" value="Valider"> <input type="button" class="btn" value="Annuler">
				</div>
			</form>
		</div>
	</div>
</div>