<div class="row">


    <form ng-submit="submitUsers()">

        <table class="table table-bordered table-striped">
            <tbody><tr>
                <th>Utilisateur</th>
                <th>Email</th>
                <th>Admin</th>
            </tr>

            <tr ng-repeat="user in users">
                <td><a ng-href="/#/profil/{{user.id}}" >{{user.fullname}}</a></td>
                <td>{{user.email}}<input type="hidden" name="email" ng-model="user.email" value="{{user.email}}"></td>

                <td><input type="checkbox" name="{{user.email}}" ng-model="user.admin" checked="{{{true:'checked', false:''}[user.admin]}}"></td>
            </tr>

            </tbody>
        </table>

        <p class="">
            <span id="messageSuccess" class="badge badge-success hide"></span>
            <span id="messageError" class="badge badge-important hide"></span>
        </p>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Valider">
            <input type="button" class="btn" onclick="document.location.href='/'" value="Annuler">
        </div>


    </form>



</div>