<div class="row">


    <div ng-repeat="proposal in proposals | filter:doStatus">
        <div id="deleteProposal{{proposal.id}}" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="proposalLabel{{proposal.id}}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">&times;</a>

                        <h3>Suppression du Proposal {{proposal.title}}</h3>
                    </div>
                    <div class="modal-body">
                        <p>Attention, le proposal va être supprimé.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn" data-dismiss="modal">Annuler</a>

                        <form ng-submit="deleteProposal({{proposal}})" name="formdelete{{proposal.id}}">
                            <input type="submit" class="btn btn-primary" value="Supprimer"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <fieldset>
                        <form>
                            <select id="status" name="status" multiple="true" ng-model="status">
                                <option value="REJECTED">Rejeté</option>
                                <option value="ACCEPTED">Accepté</option>
                                <option value="WAITING">Attente</option>
                                <option value="NULL">Sans status</option>
                            </select>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 well">
                        <p>{{(proposals|filter:proposalsAcceptes).length}} proposals acceptés</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 well">
                        <a href="/proposal/all/csv" class="btn btn-info">Export CSV</a>
                        <a ng-click="rejeterRestant()" class="btn btn-danger">Rejeter les proposals restant</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">


    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <th class="col-md-2"><a ng-click="predicate = 'speaker.fullname'; reverse=!reverse">Speaker</a></th>
                <th class="col-md-6"><a ng-click="predicate = 'title'; reverse=!reverse">Titre</a></th>
                <th class="col-md-1">Format</th>
                <th class="col-md-1">Audience</th>
                <th class="col-md-1">Statut</th>
                <th class="col-md-1">Note</th>
                <th class="col-md-1" ng-show="vote.status == 'CLOSED'"><a
                        ng-click="predicate = 'moyenne'; reverse=!reverse">Moyenne</a></th>
                <th class="col-md-1" ng-show="vote.status == 'CLOSED'">Nb Votes</th>
                <th class="col-md-2">Actions</th>
            </tr>

            <tr ng-repeat="proposal in proposals | filter:doStatus | filter:doEvent  | orderBy:predicate:reverse ">
                <td>
                    <div ng-show="proposal.speaker != null"><a ng-href="/#/profil/{{proposal.speaker.id}}"><img
                            ng-src="{{proposal.speaker.avatar}}" style="height : 30px" class="img-rounded">
                        {{proposal.speaker.fullname}}</a></div>
                    <div ng-show="proposal.speaker == null">Compte Supprimé</div>
                </td>
                <td><a href="#proposal{{proposal.id}}" ng-click="getProposalDetails(proposal.id)" data-toggle="modal">{{proposal.title}}</a>

                    <div id="proposal{{proposal.id}}" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="proposalLabel{{proposal.id}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                    </button>
                                    <h3 id="proposalLabel{{proposalModal.id}}"><a href="/#/proposals/see/{{proposalModal.id}}"
                                                                          data-dismiss="modal">{{proposalModal.title}}</a>
                                    </h3>

                                    <div ng-show="proposalModal.status != undefined" ng-switch
                                         on="proposalModal.status">
                                        <span class="label label-important" ng-switch-when="REJECTED">Rejeté</span>
                                        <span class="label label-warning"
                                              ng-switch-when="WAITING">Liste d'attente</span>
                                        <span class="label label-success" ng-switch-when="ACCEPTED">Accepté</span>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <h4>Speakers :</h4>

                                    <p>

                                    <div ng-show="proposalModal.speaker != null"><a
                                            ng-href="/#/profil/{{proposalModal.speaker.id}}" data-dismiss="modal"><img
                                            ng-src="{{proposalModal.speaker.avatar}}" style="height : 30px"
                                            class="img-rounded"> {{proposalModal.speaker.fullname}}</a></div>
                                    <div ng-show="proposalModal.speaker == null">Compte Supprimé</div>
                                    </p>
                                    <ul>
                                        <li ng-repeat="coSpeaker in proposalModal.coSpeakers"><a
                                                ng-href="/#/profil/{{coSpeaker.id}}">{{coSpeaker.fullname}}</a></li>
                                    </ul>
                                    <br/>

                                    <p class="help-inline">
                                        <span class="label">{{proposalModal.format.libelle + ' (' + proposalModal.format.dureeMinutes + 'min)'}}</span>
                                    </p>

                                    <div ng-show="userService.isAdmin() && (vote.status == 'OPEN' || vote.status == 'NOT_BEGIN')">
                                        <form ng-submit="postVote(proposalModal)" class="form-inline">
                                            <div class="form-group {{{true:'error', false:''}[errors.vote != undefined]}}">
                                                <stars ng-model="proposalModal" proposalid="{{proposalModal.id}}"/>
                                                <select id="note" name="note" ng-model="proposalModal.note">
                                                    <option value="null"></option>
                                                    <option value="1">1 - Null</option>
                                                    <option value="2">2 - Mouais</option>
                                                    <option value="3">3 - Pourquoi pas</option>
                                                    <option value="4">4 - Vraiment bien</option>
                                                    <option value="5">5 - Exceptionnel</option>
                                                </select>
                                            </div>
                                            <input type="submit" class="btn btn-primary" value="Valider">
                                        </form>

                                    </div>

                                    <hr/>
                                    <h4>Description :</h4>

                                    <p ng-bind-html-unsafe="getSafeHtml(proposalModal.description)"></p>

                                    <div ng-show="proposalModal.indicationsOrganisateurs">
                                        <hr/>
                                        <h4>Indications organisateurs :</h4>

                                        <p ng-bind-html-unsafe="getSafeHtml(proposalModal.indicationsOrganisateurs)"></p>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="label label-info" >{{proposal.format.libelle + ' (' + proposal.format.dureeMinutes + 'min)'}}</span>
                </td>
                <td>
                    <p ng-switch on="proposal.audience">
                        <span  ng-switch-when="BEGINNER">Débutant</span>
                        <span  ng-switch-when="INTERMEDIATE">Intermédiaire</span>
                        <span  ng-switch-when="ADVANCED">Avancé</span>
                    </p>
                </td>
                <td>
                    <div ng-show="proposal.status != undefined" ng-switch on="proposal.status">
                        <span class="label label-important" ng-switch-when="REJECTED">Rejeté</span>
                        <span class="label label-warning" ng-switch-when="WAITING">Liste d'attente</span>
                        <span class="label label-success" ng-switch-when="ACCEPTED">Accepté</span>
                    </div>
                </td>

                <td>{{proposal.vote}}
                </td>
                <td ng-show="vote.status == 'CLOSED'">{{proposal.moyenne}}</td>
                <td ng-show="vote.status == 'CLOSED'">{{proposal.nbvote}}</td>
                <td>
                    <a href="/#/proposals/see/{{proposal.id}}">Détails</a> <br/>
                    <a href="#deleteProposal{{proposal.id}}" data-toggle="modal"><i class="fa fa-pencil"></i></a></td>
            </tr>

            </tbody>
        </table>
    </div>

</div>