@(user: User, talks: List[Talk])

@import helper._

@main(user) {

    <div class="span8">
		 <table class="table table-bordered table-striped">
		 	<tr>
		 		<th class="span2">@Messages("talks.speaker")</th>
		 		<th class="span8">@Messages("talks.title")</th>
		 	</tr>
		 	@for(oneTalk <- talks) {
		 		<tr>
		 			<td><img src="@oneTalk.speaker.getAvatar()?s=16"/> @oneTalk.speaker.fullname</td>
		 			<td><a href="@controllers.talks.routes.SeeTalks.seeTalk(oneTalk.id)">@oneTalk.title</a></td>
		 		</tr>
		 	}
		 </table>
	 </div>
}