@(resetForm:play.api.data.Form[(String, String)], token: String)(implicit request: play.api.mvc.RequestHeader)

@import helper._

@views.html.securesocialpages.main( "Réinitialisation du mot de passe" ) {
<div class="page-header">
    <h1>Réinitialisation du mot de passe</h1>
</div>

<div class="row">
        <div class="col-md-5">
            @request.flash.get("error").map { msg =>
                <div class="alert alert-error">
                    @Messages(msg)
                </div>
            }

            <p>Merci de saisir votre nouveau mot de passe</p>

            <form action="/reset/@token" class="form-horizontal" autocomplete="off" method="POST">
                <fieldset>
                    <!-- Password -->
                    <div class="form-group">
                        <label for="password.password1" class="col-sm-4 control-label">Mot de passe</label>
                        <div class="col-sm-8">
                            <input type="password" id="password.password1" name="password.password1" class="form-control" required pattern=".{8,}">
                            <p class="help-block">Champ obligatoire - 8 caractères minimum</p>
                            @if(resetForm.error("password_password1_field")){<p class="help-block form-error">@Messages(resetForm.error("password_password1_field").get.message)</p>}
                        </div>
                    </div>

                    <!-- Password (confirmation) -->
                    <div class="form-group">
                        <label for="password.password2" class="col-sm-4 control-label">Mot de passe</label>
                        <div class="col-sm-8">
                            <input type="password" id="password.password2" name="password.password2" class="form-control" required pattern=".{8,}">
                            <p class="help-block">Champ obligatoire - 8 caractères minimum</p>
                            @if(resetForm.error("password_password2_field")){<p class="help-block form-error">@Messages(resetForm.error("password_password2_field").get.message)</p>}
                        </div>
                    </div>

                    <!-- Action buttons -->
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10 form-submit">
                            <a class="btn" href="/">Annuler</a>
                            <button type="submit" class="btn btn-primary">Réinitialisation</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
}

