@(resetForm:play.api.data.Form[(String, String)], token: String)(implicit request: play.api.mvc.RequestHeader)

@import helper._

@views.html.securesocialpages.main( "Reset password - CFP BreizhCamp" ) {
<div class="container" style="padding-top: 30px">
    <div class="page-header">
        <h1>Reset password</h1>
    </div>
        <div class="well">
            @request.flash.get("error").map { msg =>
                <div class="alert alert-error">
                    @Messages(msg)
                </div>
            }

            <form action="/reset/@token" class="form-horizontal" autocomplete="off" method="POST">
                <fieldset>
                    <div class="control-group  " id="password_password1_field">
                        <label class="control-label" for="password_password1">Password</label>
                        <div class="controls">
                            <input type="password" id="password_password1" name="password.password1" value="" class="input-xlarge">
                            <span class="help-block">Required</span>
                        </div>
                    </div>
                    <div class="control-group  " id="password_password2_field">
                        <label class="control-label" for="password_password2">Password confirmation</label>
                        <div class="controls">
                            <input type="password" id="password_password2" name="password.password2" value="" class="input-xlarge">
                            <span class="help-block">Required</span>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
}

