@(token: String)(implicit request: play.api.mvc.RequestHeader)

@import helper._

@views.html.securesocialpages.main( "Enregistrement - CFP BreizhC@mp" ) {
<div class="row">

    <div class="page-header">
        <h1>Création d'un compte local</h1>
    </div>

    <div class="well">

        @request.flash.get("error").map { msg =>
            <div class="alert alert-error">
                @Messages(msg)
            </div>
        }

        <form action="/signup/@token" 
              class="form-horizontal" autocomplete="off" method="POST">
            <fieldset>
                <div class="control-group  " id="firstName_field">
                    <label class="control-label" for="firstName">Prénom</label>
                    <div class="controls">
                        <input type="text" id="firstName" name="firstName" value="" class="input-xlarge" required>
                        <span class="help-block">Champ obligatoire</span>
                    </div>
                </div>
                <div class="control-group  " id="lastName_field">
                    <label class="control-label" for="lastName">Nom</label>
                    <div class="controls">
                        <input type="text" id="lastName" name="lastName" value="" class="input-xlarge" required>
                        <span class="help-block">Champ obligatoire</span>
                    </div>
                </div>
                <div class="control-group  " id="password_password1_field">
                    <label class="control-label" for="password_password1">Mot de passe</label>
                    <div class="controls">
                        <input type="password" id="password_password1" name="password.password1" value="" class="input-xlarge" required pattern=".{8,30}">
                        <span class="help-block">Champ obligatoire - 8+ caractères</span>
                    </div>
                </div>
                <div class="control-group  " id="password_password2_field">
                    <label class="control-label" for="password_password2">Confirmation du mot de passe</label>
                    <div class="controls">
                        <input type="password" id="password_password2" name="password.password2" value="" class="input-xlarge" required pattern=".{8,30}">
                        <span class="help-block">Champ obligatoire - 8+ caractères</span>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Créer le compte</button>
                    <a class="btn" href="/#/login">Annuler</a>
                </div>
            </fieldset>
        </form>    
    </div>
</div>
}
