@(startForm:play.api.data.Form[String])(implicit request: play.api.mvc.RequestHeader)
@import helper._

@views.html.securesocialpages.main( "Réinitialisation du mot de passe" ) {
<div class="page-header">
    <h1>Réinitialisation de mot de passe</h1>
</div>

<div class="row">

    <div class="col-md-5">
        @request.flash.get("error").map { msg =>
            <div class="alert alert-error">
                @Messages(msg)
            </div>
        }

        <p>Merci de saisir votre adresse e-mail pour procéder à la réinitialisation de votre mot de passe</p>

        <form action="/reset" class="form-horizontal" autocomplete="off" method="post">
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <i class="form-icon icon-envelope"></i>
                        <input type="email" id="email" name="email" value='@startForm("email").value' placeholder="Adresse e-mail" required class="form-text">
                        @if(startForm.error("email")){<p class="help-block form-error">@Messages(startForm.error("email").get.message)</p>}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10 form-submit">
                        <a class="btn" href="/">Annuler</a>
                        <button type="submit" class="btn btn-primary">Réinitialisation</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
}
