@(startForm:play.api.data.Form[String])(implicit request: play.api.mvc.RequestHeader)
@import helper._

@views.html.securesocialpages.main( "Enregistrement - CFP BreizhC@mp" ) {
<div class="row">

    <div class="page-header">
        <h1>Création d'un compte local</h1>
    </div>

    <div class="well">

        @request.flash.get("error").map { msg =>
            <div class="alert alert-error">
                @Messages(msg)
            </div>
        }

        <form action="/signup" class="form-horizontal" autocomplete="off" method="post">
            <fieldset>
                <div class="control-group  " id="email_field">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" value="" class="input-xlarge" requires>
                        <span class="help-block">Champ obligatoire</span>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Créer le compte</button>
                    <a class="btn" href="/login">Annuler</a>
                </div>
            </fieldset>
        </form>

        Vous pouvez également créer un compte en un clic avec
        <ul class="social-stack pg-top-openid">
            <li><a href="/authenticate/github" class="btn btn-inverse"><span class="icon-github-sign"></span> GitHub</a></li>
            <li><a href="/authenticate/google" class="btn btn-inverse"><span class="icon-google-plus-sign"></span> Google</a></li>
            <li><a href="/authenticate/twitter" class="btn btn-inverse"><span class="icon-twitter-sign"></span> Twitter</a></li>
        </ul>

    </div>
</div>
}
