@(startForm:play.api.data.Form[String])(implicit request: play.api.mvc.RequestHeader)
@import helper._

@views.html.securesocialpages.main( "Enregistrement" ) {
<div class="row">
    <div class="page-header">
        <h1>Création d'un compte</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @Messages(msg)
        </div>
        }

        <p>Créer un compte local</p>

        <form action="/signup" class="form-horizontal" autocomplete="off" method="POST">
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <i class="form-icon fa fa-envelope"></i>
                        <input type="email" id="email" name="email" value='@startForm("email").value' placeholder="Adresse e-mail" required class="form-text">
                        @if(startForm.error("email")){<p class="help-block form-error">@Messages(startForm.error("email").get.message)</p>}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10 form-submit">
                        <a class="btn" href="/#/login">Annuler</a>
                        <button type="submit" class="btn btn-primary">Créer le compte</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-md-2 form-separator">
        <span>ou</span>
    </div>

    <div class="col-md-5">
        <p>Vous pouvez également créer un compte en un clic</p>
        <div class="col-md-7 col-md-offset-1 col-sm-6 col-sm-offset-3">
            <!--
            Maybe later if someone want to create a securesocial Bitbucket provider ...
            <p>
                <a class="btn btn-block btn-social btn-bitbucket" href="/authenticate/bitbucket" role="button">
                    <i class="fa fa-bitbucket"></i>Connexion via  Bitbucket</a>
            </p>
            -->

            <p>
                <a class="btn btn-block btn-social btn-github" href="/authenticate/github" role="button">
                    <i class="fa fa-github"></i>Inscription via GitHub</a>
            </p>

            <p><a class="btn btn-block btn-social btn-google-plus" href="/authenticate/google" role="button">
                <i class="fa fa-google-plus"></i>Inscription via Google</a>
            </p>

            <p><a class="btn btn-block btn-social btn-linkedin" href="/authenticate/linkedin" role="button">
                <i class="fa fa-linkedin"></i>Inscription via LinkedIn</a>
            </p>
        </div>
    </div>

</div>
}