@(startForm:play.api.data.Form[String])(implicit request: play.api.mvc.RequestHeader)
@import helper._

@views.html.securesocialpages.main( "Reset password - CFP BreizhCamp" ) {
<div class="row">

    <div class="page-header">
        <h1>Réinitialisation de mot de passe</h1>
    </div>

    <div class="well">

        @request.flash.get("error").map { msg =>
            <div class="alert alert-error">
                @Messages(msg)
            </div>
        }

        <form action="/reset" class="form-horizontal" autocomplete="off" method="post">
            <fieldset>
                <div class="control-group  " id="email_field">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" value="" class="input-xlarge">
                        <span class="help-block">Champ obligatoire</span>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Réinitialisation</button>
                    <a class="btn" href="/#/login">Annuler</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
}
