@(user: User)

<!DOCTYPE html>
<html ng-app="breizhCampCFP" ng-controller="RootController" sessionhandler>
    <head>
        <meta charset="utf-8">
        <title>Call for Papers</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/bootstrap-social.css">
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/app.css" />
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/angular-table.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    </head>
    <body>
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img src="/assets/img/breizhCampLogoWithText_30px.png"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/#/dashboard">Home</a></li>
                        
                        <li class="dropdown" ng-show="userService.isAuthenticated()" ng-cloak>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Propositions <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/#/submitproposal/new">Soumettre un sujet</a></li>
                                <li><a href="/#/manageproposal">Gérer vos propositions</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                    <!-- Right navbar -->
                    <ul class="nav navbar-nav navbar-right" ng-show="userService.isAuthenticated()" ng-cloak>

                        <!-- Admin dropdown -->
                        <li class="dropdown" ng-show="userService.isAdmin() || userService.isSuperAdmin()">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-wrench"></span> Admin <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu" >
                                <li><a href="/#/admin/users"  ng-show="userService.isSuperAdmin()"><span class="fa fa-users"></span> Utilisateurs</a></li>
                                <li><a href="/#/admin/dynamicfields" ng-show="userService.isSuperAdmin()"><span class="fa fa-magic"></span> Champs dynamiques</a> </li>
                                <li><a href="/#/admin/events" ng-show="userService.isSuperAdmin()"><span class="fa fa-folder-o"></span> Evénements</a></li>
                                <li ng-show="userService.isSuperAdmin()" class="divider"></li>
                                <li><a href="/#/admin/proposals/list" ng-show="userService.isAdmin()"><span class="fa fa-list"></span> Propositions</a></li>
                                <li><a href="/#/admin/mailing" ng-show="userService.isAdmin()"><span class="fa fa-envelope-o"></span> Mailing</a></li>
                                <li><a href="/#/admin/vote" ng-show="userService.isAdmin()"><span class="fa fa-check-square-o"></span> Votes</a></li>
                                <li><a href="/#/admin/formats" ng-show="userService.isAdmin()"><span class="fa fa-clock-o"></span> Formats</a></li>
                                <li><a href="/#/admin/tracks" ng-show="userService.isAdmin()"><span class="fa fa-folder-o"></span> Tracks</a></li>
                                <li><a href="/#/admin/agenda" ng-show="userService.isAdmin()"><span class="fa fa-calendar"></span> Agenda</a> </li>


                            </ul>
                        </li>
                        <!-- End Admin dropdown -->
                        
                        <!-- User dropdown -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img ng-src="{{{true:userService.getUserData().avatar, false:''}[userService.getUserData()!=null]}}" class="img-rounded avatar"/>
                                {{userService.getUserData().fullname}} <b class="caret"></b>
                            </a>
                            
                            <ul class="dropdown-menu">
                                <li><a href="/#/settings/account"><span class="fa fa-user"></span> Profil</a></li>
                                <li class="divider"></li>
                                <li><a href="#" ng-click="logout()"><span class="fa fa-power-off"></span> D&eacute;connexion</a></li>
                            </ul>
                        </li>
                        <!-- End User dropdown -->
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="container" ng-view></div>

        <script>
            window.userData = @Html(play.libs.Json.toJson(user).toString())
        </script>

        <script src="/assets/javascripts/lib/jquery-1.9.0.min.js"></script>
        <script src="/assets/javascripts/lib/jquery.raty.min.js"></script>

        <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
        -->
        <script src="/assets/javascripts/lib/angular/angular.min.js"></script>
        <script src="/assets/javascripts/lib/angular/angular-resource.min.js"></script>
        <script src="/assets/javascripts/lib/angular/angular-cookies.min.js"></script>
        <script src="/assets/javascripts/lib/angular/ui-bootstrap-tpls-0.2.0.min.js"></script>

        <script src="/assets/javascripts/lib/angular-table.js"></script>

        <script src="/assets/javascripts/angular/app.js"></script>
        <script src="/assets/javascripts/angular/services.js"></script>
        <script src="/assets/javascripts/angular/controllers.js"></script>
        <script src="/assets/javascripts/angular/filters.js"></script>
        <script src="/assets/javascripts/angular/directives.js"></script>

        <script src="/assets/javascripts/bootstrap.min.js"></script>
        <script src="/assets/javascripts/lib/pagedown/Markdown.Converter.js"></script>
        <script src="/assets/javascripts/lib/pagedown/Markdown.Editor.js"></script>
        <script src="/assets/javascripts/lib/pagedown/Markdown.Sanitizer.js"></script>


        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-36524585-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>

    <footer>
        Call-for-Papers is a free non-profit service, developed <a href="https://github.com/BreizhJUG/Breizhcamp-cfp/">by community members</a> as <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL</a> open-source software-as-a-service.
        <a href="http://www.cloudbees.com"><img src="http://www.cloudbees.com/sites/default/files/Button-Powered-by-CB.png" title="Powered by CloudBees"/></a>
    </footer>
    </body>
</html>
