<div ng-show="user" class="col-md-2 breadcrumb">
                <h2><li class="fa fa-user"></li> Profil</h2>

                <h4> <a href="/#/profil/{{user.id}}">{{user.fullname}}</a></h4>
                <p ng-show="!publicView">{{user.email}}</p>

                <p>
                    <img ng-src="{{user.avatar}}?s=100">
                </p>
				<div ng-show="!publicView && settings">
					<hr/>
					<a href="#/settings/account">Profil</a>
					<br/>
					<a href="/#/settings/links">Liens</a>
					<br/>
					<a href="/#/settings/notifs">Notifications</a>
					<br/>
					<a href="/#/settings/mac">Adresse mac</a>
				</div>
                <div ng-show="!publicView">
                <hr/>
                <p>
                    <i ng-show="user.avatar != null" class="fa fa-check-square" style="color:green"></i>
                    <i ng-show="user.avatar == null" class="fa fa-warning" style="color:red"></i> Photo
                </p>
                <p>
                    <i ng-show="user.description != null" class="fa fa-check-square" style="color:green"></i>
                    <i ng-show="user.description == null" class="fa fa-warning" style="color:red"></i> Biographie
                </p>
                <p>
                    <i ng-show="user.links.length > 0" class="fa fa-check-square" style="color:green"></i>
                    <i ng-show="user.links.length == 0" class="fa fa-warning" style="color:red"></i> Liens
                </p>
                <p>
                    <i ng-show="user.adresseMac != null" class="fa fa-check-square" style="color:green"></i>
                    <i ng-show="user.adresseMac == null" class="fa fa-warning" style="color:red"></i> Accès réseau
                </p>
                </div>
                <p ng-show="!settings">
                    <a href="#/settings/account" class="btn btn-primary">Editer votre profil</a>
                </p>
				<div ng-show="publicView">
					<hr/>
					<p ng-repeat="link in user.links"><i class="{{link.icon}}"></i> <a ng-href="{{link.url}}"
																						target="_blank">{{link.label}}</a>
					</p>
				 </div>
            </div>